* {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Livvic", sans-serif !important;
  font-display: swap; /* ensures immediate paint */
}

.owl-carousel {
  display: block !important;
}

.whatsapp-btn {
  width: 56px;
  height: 56px;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(#0D68D9, #03228F); /* You can use #25d366 for WhatsApp green */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
  z-index: 9999;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

.whatsapp-ping {
  width: 56px;
  height: 56px;
  top: 0;
  left: 0;
  background-color: #0844b37b;
  animation: ping 3s infinite;
  z-index: -1;
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}


.phone-menu {
  position: absolute;
  top: 65px;
  left: 20px;
  right: 20px;
  height: auto;
  background-image: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  z-index: 99;
  display: none;
  -webkit-box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: sticky-animation;
  animation-name: sticky-animation;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  .cross-btn {
    position: absolute;
    top: 18px;
    left: 20px;
  }

  button.nav-toggle-btn {
    background: transparent !important;
    border: none !important;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .nav-toggle-btn:focus,
  .nav-toggle-btn:active {
    outline: none;
    box-shadow: none;
    border: none;
  }

  ul {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0px 0;

    li {
      a {
        display: block;
        padding: 8px 0;
        padding-left: 20px;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
        text-decoration: none;
      }
    }

    .line {
      height: 1px;
      width: 100%;
      background-color: #fff;
    }
  }
}

.rs-banner.style3.modify1 {
  padding: 0px 0px 0px;
}

.rs-banner.style3 {
  padding: 0px 0px 0px;
}

.rs-videos .animate-border.white-color.style3 .popup-border {
  bottom: -120px;
}

.service-bg-common:hover {
  background-image: linear-gradient(90deg, #1672de 0%, #071f6b 58%);
}

.owl-theme .owl-dots .owl-dot span {
  display: none;
}

.custom-progressbar {
  background-color: #dfedfe !important;
  height: 10px;
  border-radius: 0;
}

@media (max-width: 991px) {
  .rs-menu {
    display: none !important;
  }

  .full-width-header .rs-header .menu-area {
    transition: all 0.3s ease;
    background: #fff;
  }

  .phone-menu {
    display: block;
  }
}


.tool-icon {
  font-size: 42px;
  color: #0B60D0; /* green */
  transition: color 0.3s ease;
}

.tool-card:hover .tool-icon {
  color: #ffffff;
}


